<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul><br>
<div class="alert alert-danger">This box has a non-functioning X button to close it.</div><br>
<table class="table table-striped">
  <tr><td>A</td>
    <td>B</td>
  <tr><td>A1</td>
    <td>B1</td>
  <tr><td>A2</td>
    <td>B2</td>
  </tr>
</table><br>

<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-default"><a href="http://www.google.com" target="_blank">Link to Google.com</button></a><br>
<br><br>
<div class="row">
  <div class="col-md-6">This column is on the left half of the page.</div>
  <div class="col-md-6">This column is on the right half of the page.</div>
</div><br><br>

<span class="glyphicon glyphicon-fast-backward"></span> Fast-forward symbol<br>
<span class="glyphicon glyphicon-fast-forward"></span> Rewind symbol<br>


