<!doctype html>
<html>
<head> 
<title>Contact Form</title></head>
<body>
<h1>Example contact form</h1>
<form action="contactForm">
<b>From</b><br> <input type="text" name="from"><br>
<b>Subject</b><br> <input type="text" name="subject"><br>
<b>Body</b><br> <textarea rows="4" cols="22" name="comment">
</textarea><br><br>
<input type="submit" value= Send ><br>
</form>
</body>
</html>
<!-- TODO -->