<h1>Example login screen</h1>
<form action="loginForm">
<table border="1"><tr><td>
<b>Email address</b></td><td> <input type="text" name="from"></td></tr><tr>
<td><b>password</b></td><td><input type="text" name="subject"></td></tr>
<td></td><td>
<input type="submit" value= Login ></td>
</tr>
</table>
</form>
<!-- TODO -->
