<h1>Example of nested lists</h1>


<ul>
<li>&#9787; fruits
<ul>
<li>  &#9786; apples</li>
<li>  &#9786; oranges</li>
<li>  &#9786; pears</li>
</ul></li>

<li>vegetables
<ul>
<li>broccoli</li>
<li>peas</li>
<li>carrots</li>
</li>


<!-- TODO -->

