<h1>cd</h1>
<<<<<<< HEAD
<a href="http://localhost:9292/"><p>Home</p></a><br>
<p>The cd command changes the current working directory.</p><br>
<p><strong>cd .. goes up level.</strong></p>
=======

<p>The cd command changes the current working directory.</p>

<p>cd .. goes up one level.</p>

<p>cd by itself goes to the home directory.</p>
>>>>>>> 3731fc0e6018f26336c0440f5a9c2cedd69c2516
